.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 4rem;
}

.modal > h2 {
    font-size: 2rem;
    color: black;
}

.modal > button {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem;
    background-color: #2563eb;
    color: white;
    border: transparent;
    border-radius: 8px;
    cursor: pointer; 
}